@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Updock&display=swap");
*, *::after, *::before {
  box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  display: block;
}

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

p {
  font-size: inherit;
  font-family: inherit;
  line-height: 1.5;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  height: inherit;
  margin: 0 auto;
  width: calc(100vw - 32px);
}
@media screen and (min-width: 767px) {
  .container {
    width: calc(100vw - 64px);
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: calc(100vw - 128px);
  }
}
@media screen and (min-width: 1440px) {
  .container {
    padding-left: 64px;
    padding-right: 64px;
    width: 1436px;
  }
}

.hamburger-menu {
  cursor: pointer;
  position: relative;
  height: 3px;
  width: 32px;
  display: flex;
  border: none;
  border-radius: 2px;
  background-color: white;
  transition: 0.3s;
}
.hamburger-menu::before {
  content: "";
  background-color: white;
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  bottom: 10px;
  left: 0;
  border: none;
  border-radius: 2px;
}
.hamburger-menu::after {
  content: "";
  background-color: white;
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  top: 10px;
  left: 0;
  border: none;
  border-radius: 2px;
}
.hamburger-menu--clicked {
  background-color: transparent;
}
.hamburger-menu--clicked::before {
  transform: rotate(45deg);
  top: 0;
}
.hamburger-menu--clicked::after {
  transform: rotate(-45deg);
  top: 0;
}
@media screen and (min-width: 1024px) {
  .hamburger-menu {
    display: none;
  }
}

.nav {
  font-family: "lato", sans-serif;
  background-color: #2F4250;
  position: fixed;
  top: 0;
  left: -100%;
  padding-top: 80px;
  height: 100vh;
  width: 100%;
  color: white;
  transition: 0.6s transform ease;
}
@media screen and (min-width: 1024px) {
  .nav {
    position: absolute;
    height: 120px;
    background-color: transparent;
    left: 0;
    top: 12px;
  }
}
.nav__logo {
  font-size: 44px !important;
}
@media screen and (min-width: 1024px) {
  .nav__logo {
    display: none;
  }
}
.nav-list {
  margin: 32px auto;
}
@media screen and (min-width: 1024px) {
  .nav-list {
    display: flex;
    margin: 0;
    justify-content: center;
  }
}
.nav-list__item {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  font-size: 28px;
  width: fit-content;
  z-index: 99;
  cursor: pointer;
}
@media screen and (min-width: 1024px) {
  .nav-list__item {
    text-transform: uppercase;
    font-size: 16px;
    padding: 0;
    margin: auto 12px;
    padding: 0 4px;
    width: fit-content;
    height: 30px;
  }
}
.nav-list__item::before {
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: -100%;
  height: 100%;
  width: 0;
  background-color: white;
  z-index: -1;
}
@media screen and (min-width: 1024px) {
  .nav-list__item::before {
    display: none;
  }
}
.nav-list__item:hover {
  position: relative;
  color: #171F2A;
  z-index: 333;
  overflow: hidden;
  opacity: 1;
}
@media screen and (min-width: 1024px) {
  .nav-list__item:hover {
    color: white;
    overflow: visible;
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  }
}
.nav-list__item:hover::before {
  transform: translateX(100%);
  width: 100%;
  z-index: -1;
}
@media screen and (min-width: 1024px) {
  .nav-list__item:hover::before {
    position: absolute;
    content: "";
    display: block;
    height: 8px;
    top: 23px;
  }
}
.nav__address {
  font-size: 24px;
  font-weight: bold;
  font-family: "Beau Rivage", cursive;
}
@media screen and (min-width: 1024px) {
  .nav__address {
    display: none;
  }
}
.nav__open-col {
  display: flex;
  flex-direction: column;
  margin: 18px auto;
}
@media screen and (min-width: 1024px) {
  .nav__open-col {
    display: none;
  }
}
.nav__phone-number {
  font-family: "Beau Rivage", cursive;
  font-weight: bold;
  font-size: 30px;
}
@media screen and (min-width: 1024px) {
  .nav__phone-number {
    display: none;
  }
}

.logo {
  font-weight: 900;
  font-size: 24px;
  color: white;
  text-shadow: 5px 1px rgb(49, 49, 49);
}

.lang-list {
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #171F2A;
  border-radius: 10px;
  width: 80px;
  list-style: none;
  text-decoration: none;
  text-decoration: none;
  background-color: white;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}
.lang-list__item {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 40px;
  border: 1px solid #171F2A;
  cursor: pointer;
  color: #171F2A;
}
.lang-list__item--used {
  background-color: #2F4250;
  pointer-events: none;
  cursor: default;
  color: white;
}
.lang-list__link {
  padding-top: 4px;
  padding-bottom: 4px;
  font-family: "Lato", sans-serif;
  font-weight: 800;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 400px);
  width: calc(100% + 1px);
  height: calc(100% + 1px);
  object-fit: cover;
  transform: translate(-50%, -50%);
  display: block;
  z-index: -1;
}
@media screen and (min-width: 767px) {
  .image {
    top: calc(50% - 10px);
    left: calc(50% - 300px);
  }
}
@media screen and (min-width: 1024px) {
  .image {
    display: none;
  }
}

.video {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
@media screen and (min-width: 1024px) {
  .video {
    display: block;
  }
}

.blackout {
  background-color: rgba(0, 0, 0, 0.4);
}

.title {
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  font-size: 30px;
  font-weight: 900;
  color: white;
  line-height: 42px;
  text-align: center;
  text-shadow: 0 0 3px black;
}
@media screen and (min-width: 767px) {
  .title {
    text-align: left;
    font-size: 48px;
    line-height: 60px;
  }
}
@media screen and (min-width: 1024px) {
  .title {
    font-size: 68px;
    line-height: 84px;
  }
}

.btn {
  display: flex;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding: 12px;
  width: fit-content;
  min-width: 120px;
  height: 40px;
  border: 2px solid;
  border-radius: 2px;
}
.btn--small {
  border: none;
  font-size: 11px;
  text-shadow: 1px 1px black;
  max-width: 10px;
  min-width: fit-content;
  height: 20px;
  padding: 0;
  color: white;
  background-color: transparent;
  cursor: pointer;
}
.btn--transparent {
  border-color: white;
  text-shadow: 2px 2px black;
  color: white;
  background-color: transparent;
  transition: 0.2s;
}
.btn--transparent:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.5);
}
.btn--white {
  background-color: white;
  border-color: white;
  transition: 0.2s;
}
.btn--white:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.5);
}

.header {
  width: 100%;
  position: fixed;
  height: 80px;
  border-bottom: 1px solid white;
  z-index: 33333;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.13);
}
@media screen and (min-width: 1024px) {
  .header {
    height: 120px;
  }
}
.header__container {
  width: 100%;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.header__hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
  height: 36px;
  width: 36px;
  cursor: pointer;
  z-index: 99;
}
.header__center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 33;
}
.header__right {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .header__right {
    z-index: 1;
  }
}
.header__lang-list {
  position: fixed;
}

.hero-home {
  position: relative;
  overflow: hidden;
  height: 600px;
}
@media screen and (min-width: 1024px) {
  .hero-home {
    height: calc(100vh - 48px);
    min-height: 900px;
  }
}
.hero-home__blackout {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.hero-home__container {
  width: 100%;
  margin-top: 80px;
}
@media screen and (min-width: 1024px) {
  .hero-home__container {
    margin-top: 120px;
  }
}
.hero-home__content {
  position: absolute;
  z-index: 333;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-home__title {
  margin-bottom: 30px;
}
.hero-home__btns-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 767px) {
  .hero-home__btns-container {
    flex-direction: row;
  }
}
.hero-home__first-btn {
  margin-bottom: 8px;
}
@media screen and (min-width: 767px) {
  .hero-home__first-btn {
    margin-bottom: 0;
    margin-right: 8px;
  }
}

.is-hiden {
  opacity: 0;
}

.is-open {
  opacity: 1;
  visibility: visible;
}

.is-visibly {
  opacity: 1;
  visibility: visible;
}

@media screen and (min-width: 1024px) {
  .is-not-active-lg {
    pointer-events: none;
    cursor: default;
  }
}

.is-not-active {
  pointer-events: none;
  cursor: default;
}

.to-uppercase {
  text-transform: uppercase;
}

.to-left {
  text-align: left;
}

/*# sourceMappingURL=main.css.map */
