@use '../01-settings/' as *;
@use '../02-tools/' as *;

.btn{
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 12px;
    width: fit-content;
    min-width: 120px;
    height: 40px;
    border: 2px solid;
    border-radius: 2px;
    &--small{
        border: none;
        font-size: 11px;
        text-shadow: 1px 1px black;
        max-width: 10px;
        min-width: fit-content;
        height: 20px;
        padding: 0;
        color: $color-white;
        background-color: transparent;
        cursor: pointer;
    }
    &--transparent{
        border-color: $color-white;
        text-shadow: 2px 2px black;
        color: $color-white;
        background-color: transparent;
        transition: .2s;
        &:hover{
            background-color: rgb(255, 255, 255, 0.5);
            border-color: rgb(255, 255, 255, 0.5);
        }
    }
    &--white{
        background-color: $color-white;
        border-color: $color-white;
        transition: .2s;
        &:hover{
            color: $color-white;
            background-color: rgb(255, 255, 255,0.5);
            border-color: rgb(255, 255, 255, 0.5);
        }
    }
    
}