@use '../01-settings/' as *;
@use '../02-tools/' as *;

.container{
    margin: 0 auto;
    width: calc(100wv - 32px);
    @include medium{
        width: calc(100wv - 64px);
    }
    @include large{
        width: calc(100wv - 128px);
    }
    @include xxlarge{
        padding-left: 64px;
        padding-right: 64px;
        width: 1436px;
    }
}