$font-base: 16px;
$color-white: white;
$color-black: black;
$color-blue: #2F4250;
$color-dark-blue: #171F2A;

$bp-medium: 767px;
$bp-large: 1024px;
$bp-xxlarge: 1440px;

$header-height: 80px;
$header-height-for-large: 120px;