@use '../01-settings/' as *;
@use '../02-tools/' as *;

.hero-home{
    position: relative;
    overflow: hidden;
    height: 600px;
    &__blackout{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
    }
    &__container{
        width: 100%;
        padding-top: $header-height;
        @include large{
            padding-top: $header-height-for-large;
        }
    }
    &__content{
        position: absolute;
        z-index: 333;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    &__title{
        margin-bottom: 30px;
    }
    &__btns-container{
        display: flex;
        align-items: center;
        flex-direction: column;
        
        @include medium{
            flex-direction: row;
        }
    }
    &__first-btn{
        margin-bottom: 8px;
        @include medium{
            margin-bottom: 0;
            margin-right: 8px;
        }
    }
    @include large{
        height: calc(100vh - 48px);
        max-height: 900px;
    }
    
}